<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='assets/style.css')}}"
        />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    </head>

    <body>
        <div class="head">
            Movie Rank
        </div>
        <div class="nav">
            <div class="left">
                <a href="/">Home</a>
            </div>
            <div class="right">
                {% if 'username' in session %}
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {% endif %}
            </div>
        </div>
        <div id="main">{% block content %}{% endblock %}</div>
    </body>
</html>
