{% extends "base.html" %} 

{% block content %}
<h1>Movie Manager</h1>

<form class="form-horizontal" action="" method="POST">
    <div class="form-group">
        <label class="control-label col-sm-2" for="">
            Movie Name: 
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" placeholder="Enter Movie Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="">
            Movie Info: 
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="info" placeholder="Enter Movie Info" />
        </div>
    </div>

    <div id="movemid">
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Vote</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if movies|length > 0 %}
        {% for movie in movies %}
        <tr>
            <td>{{movie["id"]}}</td>
            <td>{{movie["name"]}}</td>
            <td>{{movie["vote"]}}</td>
            <td>
                <form id="movemid" action="{{url_for('delete_movie')}}" method="POST">
                    <input type="hidden" name="id" value="{{movie['id']}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No movies</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
